In [29]:
from sociolla.machine_learning.components.data_ingestion import DataIngestion

In [30]:
s=DataIngestion(    
    ingestion_type='db',
    table_name='product_data'
    )

In [31]:
product_data=s.run_ingestion()

In [32]:
rating_data=s.run_ingestion(table_name='rating_data')

In [33]:
product_data.head(10)

,product_id,brand_name,product_name,beauty_point_earned,price_range,active_date,default_category,total_in_wishlist,categories1,categories2,categories3
0,97802,796_3ce,MULTI EYE COLOR PALETTE,130,621000.0,2022-10-03T03:30:06.681+00:00,Eyeshadow,717,Makeup,Eyes,Eyeshadow
1,97810,796_3ce,VELVET LIP TINT,50,264000.0,2022-10-03T03:02:40.34+00:00,Lip Cream,682,Makeup,Lips,Lip Cream
2,97822,796_3ce,LIP COLOR,60,317000.0,2023-05-30T09:49:15.158+00:00,Lipstick,173,Makeup,Lips,Lipstick
3,97833,796_3ce,MINI MULTI EYE COLOR PALETTE,80,423000.0,2022-10-03T03:27:01.334+00:00,Eyeshadow,257,Makeup,Eyes,Eyeshadow
4,97801,796_3ce,FACE BLUSH,60,300000.0,2022-10-03T03:22:26.61+00:00,Blush,387,Makeup,Face,Blush
5,97817,796_3ce,BLUR WATER TINT,50,264000.0,2022-09-30T17:10:51.736+00:00,Lip Tint,1050,Makeup,Lips,Lip Tint
6,97818,796_3ce,CLOUD LIP TINT,50,264000.0,2022-10-03T03:23:16.816+00:00,Lip Cream,213,Makeup,Lips,Lip Cream
7,98428,796_3ce,NEW TAKE EYESHADOW PALETTE,170,880000.0,2022-12-11T15:01:17.357+00:00,Eyeshadow,445,Makeup,Eyes,Eyeshadow
8,98369,796_3ce,SUPER SLIM EYE BROW PENCIL,40,212000.0,2022-09-30T17:17:39.698+00:00,Eyebrows,103,Makeup,Eyes,Eyebrows
9,98368,796_3ce,VELVET FIT FOUNDATION,110,564000.0,2022-09-30T17:16:34.037+00:00,Foundation,195,Makeup,Face,Foundation

In [35]:
rating_data.head(10)

,product_id,average_rating,total_reviews,total_recommended_count,total_repurchase_maybe_count,total_repurchase_no_count,total_repurchase_yes_count,star_value_for_money,star_long_wear,star_texture,star_quality,star_eficiency,star_durability,star_scent,star_pigmentation,star_packaging,star_effectiveness
0,97802,4.92000,5,5,0,0,5,5.00000,5.00000,5.00000,0,0.0,0.0,0.0,4.80000,4.80000,0.0
1,97810,4.57619,42,42,10,2,30,4.33333,4.30952,4.76190,0,0.0,0.0,0.0,4.69048,4.78571,0.0
2,97822,0.00000,0,0,0,0,0,0.00000,0.00000,0.00000,0,0.0,0.0,0.0,0.00000,0.00000,0.0
3,97833,4.88333,6,12,1,0,11,4.75000,4.91667,4.91667,0,0.0,0.0,0.0,4.83333,5.00000,0.0
4,97801,4.85882,13,17,2,0,15,4.76471,4.94118,4.88235,0,0.0,0.0,0.0,4.70588,5.00000,0.0
5,97817,4.72963,51,53,3,3,48,4.62963,4.70370,4.77778,0,0.0,0.0,0.0,4.75926,4.77778,0.0
6,97818,4.76842,17,19,0,0,19,4.73684,4.84211,4.78947,0,0.0,0.0,0.0,4.68421,4.78947,0.0
7,98428,5.00000,1,5,0,0,5,5.00000,5.00000,5.00000,0,0.0,0.0,0.0,5.00000,5.00000,0.0
8,98369,5.00000,1,4,0,0,4,5.00000,5.00000,5.00000,0,0.0,0.0,0.0,5.00000,5.00000,0.0
9,98368,5.00000,1,2,0,0,2,5.00000,5.00000,5.00000,0,0.0,0.0,0.0,5.00000,5.00000,0.0

In [36]:
rating_data['average_rating']=round(rating_data['average_rating']).astype(int)

In [37]:
rating_data['average_rating'].value_counts()

average_rating
5    573
0    307
4    120
Name: count, dtype: int64